<div>
  <label for="tipoVehiculo">Tipo Vehiculo</label>
  <input id="tipoVehiculo" type="text" placeholder="tipoVehiculo" disabled>
</div>
<div>
  <label for="placa">Placa</label>
  <input id="placa" type="text" placeholder="Placa" disabled>
</div>
<div>    
  <label for="cilindraje">Cilindraje</label>
  <input id="cilindraje" type="text" placeholder="Cilindraje" disabled>
</div>
<div>
  <label for="fechaIngreso">Fecha Ingreso</label>
  <input id="fechaIngreso" type="text" placeholder="Fecha Ingres" disabled>
</div>
<div>
  <label for="fechaSalida">Fecha Salida</label>
  <input id="fechaSalida" type="text" placeholder="Fecha Salida" disabled>
</div>
<div>
  <label for="duracion">Total horas en parquedeadero</label>
  <input id="duracion" type="text" placeholder="Total horas en parquedeadero" disabled>
</div>
<div>
  <label for="totalPagar">Total a pagar</label>
  <input id="totalPagar" type="text" placeholder="Total a pagar" disabled>
</div>
<div>
    <input class="btn btn-primary" type="submit" value="Aceptar">
    <input class="btn btn-primary" type="reset" value="Cancelar">
</div>