<div class="container col-8">
  <form (ngSubmit) = "registrar()">
    <div class="form-group">
      <div class="form-group row">
        <label class="col-4 col-form-label" for="fechaIngreso">Fecha Ingreso</label>
        <input class="col-8 form-control" id="fechaIngreso" type="text" [(ngModel)]="factura.fechaIngreso" name="fechaIngreso" placeholder="Fecha Ingreso" disabled>
      </div>
      <div class="form-group row">
        <label class="col-4 col-form-label" for="fechaSalida">Fecha Salida</label>
        <input class="col-8 form-control" id="fechaSalida" type="text" [(ngModel)]="factura.fechaSalida" name="fechaSalida" placeholder="Fecha Salida" disabled>
      </div>
      <div class="form-group row">
        <label class="col-4 col-form-label" for="totalPagar">Total a pagar</label>
        <input class="col-8 form-control" id="totalPagar" type="text" [(ngModel)]="factura.totalAPagar" name="totalAPagar" placeholder="Total a pagar" disabled>
      </div>
      <div class="col-md-10">
        <div class="row justify-content-between">
          <button id="GuargarSalida" class="col-sm-5  btn btn-primary" type="submit">Aceptar</button>
          <button id="cancelarSalida" class="col-sm-5 btn btn-primary" type="reset">Cancelar</button>
        </div>
      </div>
    </div>
  </form>
</div>