
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Placa</th>
        <th scope="col">Tipo(Carro, Moto)</th>
        <th scope="col">Fecha Ingreso</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let vehiculo of vehiculos">
        <th scope="row">{{vehiculo.id}}</th>
        <td>{{vehiculo.placa}}</td>
        <td>{{vehiculo.tipo}}</td>
        <td>{{vehiculo.fechaIngreso}}</td>
      </tr>
    </tbody>
  </table>
<div>
    <input class="btn btn-primary" type="reset" value="Cancelar">
</div>
