<div class="container col-8">
  <form (ngSubmit) = "registrar()">
      <div class="form-group">
          <div class="form-group row">
              <label class="col-4 col-form-label" for="tipoVehiculo">Tipo Vehiculo *</label>
              <select class="col-8 custom-select" name="tipoVehiculo" (change)="onChange($event)">
                <option selected>Seleccione</option>
                <option *ngFor="let tipo of tiposVehiculo" [ngValue]="tipo.name">{{ tipo.name }}</option>
              </select>
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label" for="placa">Placa *</label>
              <input id="placa"  class="col-8 form-control" [(ngModel)]="vehiculo.placa" name="placa" type="text" placeholder="Placa" aria-label="Placa">
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label" for="cilindraje">Cilindraje *</label>
              <input id="cilindraje" class="col-8 form-control" [(ngModel)]="vehiculo.cilindraje" name="cilindraje" type="text" placeholder="Cilindraje" aria-label="Cilindraje">
            </div>
            <div class="col-md-10">
                <div class="row justify-content-between">
                    <button id="Guargar" class="col-sm-5  btn btn-primary" type="submit">Aceptar</button>
                    <button id="cancelar" class="col-sm-5 btn btn-primary" type="reset">Cancelar</button>
                </div>
            </div>
      </div>
     
    </form>  
</div>
